doctype html
html(lang="es")
  include ./includes/head.jade
  body
  .theme-page.Header
    | {{ partial "menu.html" . }}
    .theme-page-container
      .theme-page-content.theme-page-content--header
        .theme-page-content--section
          .Header-logo
            img(src="/img/logo.svg", height="200", width="auto")
        .theme-page-content--section
          .Header-subtitle
            .theme-page-content--x-small
              h1 Get it on the Ground Floor of the Exploding Bitcoin Transation Machine, Recover Your Invesment in 3 -9 months, And explode your ROI starting Inmmediatly.
              h4 Business owners looking for a example, cutting edge, cash business take advantage of this cutting edge opportunity.
              a(href="#").u-btn.u-btn-large.theme-btn-primary Download Information Pack
  .theme-page.Information
    .theme-page-container
      .theme-page-content
        .theme-page-content--small
          .Information-subtitle
            h2 Get it on the Ground Floor of the Exploding Bitcoin Transation Machine, Recover Your Invesment in 3 -9 months, And explode your ROI starting Inmmediatly
          .u-row
            .u-column.u-column--hd3
              .Information-info
                
            .u-column.u-column--hd9
                .Information-info
                  p Are you looking for an easy to operate high income ground floor business opportunity.
                  p Does the thought of being the first person to provide a service thousands are already crying for, and millions more will need.
                  p Would passive income coming your way on a regular basis improve your present and future life style level?
  .theme-page.Information.Information--light
    .theme-page-container
      .theme-page-content
        .theme-page-content-title
          p The Business Opportunity
        .theme-page-content--small
          .u-row
            .u-column.u-column--hd6.u-column--md12
              .Information-info
                h3 The Problem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem leo, malesuada et odio ac, efficitur imperdiet sapien. Quisque lobortis, sem in tincidunt ultricies, erat ante ultricies neque, at egestas turpis dolor eu ex. Proin sed mollis lacus, a finibus odio. Curabitur convallis dapibus mollis. Praesent commodo feugiat tortor eu accumsan. Sed imperdiet lorem sed semper ultrices. Aenean sit amet arcu a urna lobortis tincidunt. Suspendisse vel dapibus nisi. Fusce at ex fermentum, hendrerit nunc sit amet, posuere orci. Sed gravida dictum tincidunt. Maecenas eget tristique purus, eu mollis eros. Proin facilisis metus vel diam cursus, vitae euismod massa mollis. Mauris libero ligula, iaculis congue leo eleifend, consectetur efficitur leo. Suspendisse molestie tellus ac tellus imperdiet vestibulum. Vestibulum ornare ligula quis eros tristique, eu elementum enim consequat.
            .u-column.u-column--hd6.u-column--md12
              .Information-info
                h3 The Solution
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem leo, malesuada et odio ac, efficitur imperdiet sapien. Quisque lobortis, sem in tincidunt ultricies, erat ante ultricies neque, at egestas turpis dolor eu ex. Proin sed mollis lacus, a finibus odio. Curabitur convallis dapibus mollis. Praesent commodo feugiat tortor eu accumsan. Sed imperdiet lorem sed semper ultrices. Aenean sit amet arcu a urna lobortis tincidunt. Suspendisse vel dapibus nisi. Fusce at ex fermentum, hendrerit nunc sit amet, posuere orci. Sed gravida dictum tincidunt. Maecenas eget tristique purus, eu mollis eros. Proin facilisis metus vel diam cursus, vitae euismod massa mollis. Mauris libero ligula, iaculis congue leo eleifend, consectetur efficitur leo. Suspendisse molestie tellus ac tellus imperdiet vestibulum. Vestibulum ornare ligula quis eros tristique, eu elementum enim consequat.
  #Path.theme-page.Path
    .theme-page-container
      .theme-page-content
        .theme-page-content--small
          .u-row
            .u-column.u-column--hd6.u-column--md12
              .Path-item.Path-item--1
                img(src="/img/howitworks-path-1.png", width="auto", height="239")
                h2.title Buy a Tigo CTM Machine
            .u-column.u-column--hd6.u-column--md12
              .Path-item.Path-item--2
                img(src="/img/howitworks-path-2.png", width="auto", height="138")
                h2.title Tigo CTM walks you through a simplified account setup at banking, exchange, and wallet partners.
            .u-column.u-column--hd6.u-column--md12
              .Path-item.Path-item--3
                img(src="/img/howitworks-path-3.png", width="auto", height="211")
                h2.title Tigo CTM helps you pick a location and install your CTM.*
            .u-column.u-column--hd6.u-column--md12
              .Path-item.Path-item--4
                img(src="/img/howitworks-path-4.png", width="auto", height="208")
                h2.title Tigo CTM create and hosts the backend server(s) your machine requires.
            .u-column.u-column--hd6.u-column--md12
              .Path-item.Path-item--5
                img(src="/img/howitworks-path-5.png", width="auto", height="174")
                h2.title Tigo CTM helps market your machine, so lots of customers find and use it.
            .u-column.u-column--hd6.u-column--md12
              .Path-item.Path-item--6
                img(src="/img/howitworks-path-6.png", width="auto", height="185")
                h2.title You visit the machine regulary, managing the cash.
  .theme-page.InformationButton
    .theme-page-container
      .theme-page-content
        .theme-page-content--small
          a(href="#").u-btn.u-btn-x-large.theme-btn-primary Download FREE Information Pack for More Information
  .theme-page.Information.Information--light
    .theme-page-container
      .theme-page-content
        .theme-page-content--small
          .u-row
            .u-column.u-column--hd3.u-column--md12
              .Information-info
                
            .u-column.u-column--hd9.u-column--md12
                .Information-info
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem leo, malesuada et odio ac, efficitur imperdiet sapien. Quisque lobortis, sem in tincidunt ultricies, erat ante ultricies neque, at egestas turpis dolor eu ex. Proin sed mollis lacus, a finibus odio. Curabitur convallis dapibus mollis. Praesent commodo feugiat tortor eu accumsan. Sed imperdiet lorem sed semper ultrices. Aenean sit amet arcu a urna lobortis tincidunt. Suspendisse vel dapibus nisi. Fusce at ex fermentum, hendrerit nunc sit amet, posuere orci. Sed gravida dictum tincidunt. Maecenas eget tristique purus, eu mollis eros. Proin facilisis metus vel diam cursus, vitae euismod massa mollis. Mauris libero ligula, iaculis congue leo eleifend, consectetur efficitur leo. Suspendisse molestie tellus ac tellus imperdiet vestibulum. Vestibulum ornare ligula quis eros tristique, eu elementum enim consequat.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem leo, malesuada et odio ac, efficitur imperdiet sapien. Quisque lobortis, sem in tincidunt ultricies, erat ante ultricies neque, at egestas turpis dolor eu ex. Proin sed mollis lacus, a finibus odio. Curabitur convallis dapibus mollis. Praesent commodo feugiat tortor eu accumsan. Sed imperdiet lorem sed semper ultrices. Aenean sit amet arcu a urna lobortis tincidunt. Suspendisse vel dapibus nisi. Fusce at ex fermentum, hendrerit nunc sit amet, posuere orci. Sed gravida dictum tincidunt. Maecenas eget tristique purus, eu mollis eros. Proin facilisis metus vel diam cursus, vitae euismod massa mollis. Mauris libero ligula, iaculis congue leo eleifend, consectetur efficitur leo. Suspendisse molestie tellus ac tellus imperdiet vestibulum. Vestibulum ornare ligula quis eros tristique, eu elementum enim consequat.
  .theme-page.Products
    .theme-page-container
      .theme-page-content
        .theme-page-content-title
            p Your New Machines
        .theme-page-content--small
          .u-row
            .u-column.u-column--hd4.u-column--md12
              .Products-item
                .theme-panel
                  .Slides-slide
                    .Slide-image
                      img(src="/img/Douro.png", height="270", width="auto")
                a(href="#").u-btn.theme-btn-primary More Info
            .u-column.u-column--hd4.u-column--md12
              .Products-item
                .theme-panel
                  .Slides-slide
                    .Slide-image
                      img(src="/img/Douro.png", height="270", width="auto")
                a(href="#").u-btn.theme-btn-primary More Info
            .u-column.u-column--hd4.u-column--md12
              .Products-item
                .theme-panel
                  .Slides-slide
                    .Slide-image
                      img(src="/img/Douro.png", height="270", width="auto")
                a(href="#").u-btn.theme-btn-primary More Info

  #Benefits.theme-page.Benefits
    .Benefits-bg
    .Benefits-container
      .theme-page-container
        .theme-page-content
          .theme-page-content-title.theme-page-content-title--dark
            p Benefits
          .Benefits-content
            .theme-page-content--small
              .u-row
                .u-column.u-column--hd9.u-column--md12
                  .Information-info
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem leo, malesuada et odio ac, efficitur imperdiet sapien. Quisque lobortis, sem in tincidunt ultricies, erat ante ultricies neque, at egestas turpis dolor eu ex. Proin sed mollis lacus, a finibus odio. Curabitur convallis dapibus mollis. Praesent commodo feugiat tortor eu accumsan. Sed imperdiet lorem sed semper ultrices. Aenean sit amet arcu a urna lobortis tincidunt. Suspendisse vel dapibus nisi. Fusce at ex fermentum, hendrerit nunc sit amet, posuere orci. Sed gravida dictum tincidunt. Maecenas eget tristique purus, eu mollis eros. Proin facilisis metus vel diam cursus, vitae euismod massa mollis. Mauris libero ligula, iaculis congue leo eleifend, consectetur efficitur leo. Suspendisse molestie tellus ac tellus imperdiet vestibulum. Vestibulum ornare ligula quis eros tristique, eu elementum enim consequat.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem leo, malesuada et odio ac, efficitur imperdiet sapien. Quisque lobortis, sem in tincidunt ultricies, erat ante ultricies neque, at egestas turpis dolor eu ex. Proin sed mollis lacus, a finibus odio. Curabitur convallis dapibus mollis. Praesent commodo feugiat tortor eu accumsan. Sed imperdiet lorem sed semper ultrices. Aenean sit amet arcu a urna lobortis tincidunt. Suspendisse vel dapibus nisi. Fusce at ex fermentum, hendrerit nunc sit amet, posuere orci. Sed gravida dictum tincidunt. Maecenas eget tristique purus, eu mollis eros. Proin facilisis metus vel diam cursus, vitae euismod massa mollis. Mauris libero ligula, iaculis congue leo eleifend, consectetur efficitur leo. Suspendisse molestie tellus ac tellus imperdiet vestibulum. Vestibulum ornare ligula quis eros tristique, eu elementum enim consequat.
                .u-column.u-column--hd3.u-column--md12
                    .Information-info
  .theme-page.Information
    .theme-page-container
      .theme-page-content
        .theme-page-content--small
          .Information-info
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem leo, malesuada et odio ac, efficitur imperdiet sapien. Quisque lobortis, sem in tincidunt ultricies, erat ante ultricies neque, at egestas turpis dolor eu ex. Proin sed mollis lacus, a finibus odio. Curabitur convallis dapibus mollis. Praesent commodo feugiat tortor eu accumsan. Sed imperdiet lorem sed semper ultrices. Aenean sit amet arcu a urna lobortis tincidunt. Suspendisse vel dapibus nisi. Fusce at ex fermentum, hendrerit nunc sit amet, posuere orci. Sed gravida dictum tincidunt. Maecenas eget tristique purus, eu mollis eros. Proin facilisis metus vel diam cursus, vitae euismod massa mollis. Mauris libero ligula, iaculis congue leo eleifend, consectetur efficitur leo. Suspendisse molestie tellus ac tellus imperdiet vestibulum. Vestibulum ornare ligula quis eros tristique, eu elementum enim consequat.
            h2 For more information about this once in a lifetime opportunity, download (or request) our information pack now
            a(href="#").u-btn.u-btn-x-large.theme-btn-primary Download FREE Information Pack for More Information
  .theme-page.Information.Information--light
    .theme-page-container
      .theme-page-content
        .theme-page-content--small
          .u-row
            .u-column.u-column--hd3.u-column--md12
              .Information-info
                
            .u-column.u-column--hd9.u-column--md12
                .Information-info
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem leo, malesuada et odio ac, efficitur imperdiet sapien. Quisque lobortis, sem in tincidunt ultricies, erat ante ultricies neque, at egestas turpis dolor eu ex. Proin sed mollis lacus, a finibus odio. Curabitur convallis dapibus mollis. Praesent commodo feugiat tortor eu accumsan. Sed imperdiet lorem sed semper ultrices. Aenean sit amet arcu a urna lobortis tincidunt. Suspendisse vel dapibus nisi. Fusce at ex fermentum, hendrerit nunc sit amet, posuere orci. Sed gravida dictum tincidunt. Maecenas eget tristique purus, eu mollis eros. Proin facilisis metus vel diam cursus, vitae euismod massa mollis. Mauris libero ligula, iaculis congue leo eleifend, consectetur efficitur leo. Suspendisse molestie tellus ac tellus imperdiet vestibulum. Vestibulum ornare ligula quis eros tristique, eu elementum enim consequat.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem leo, malesuada et odio ac, efficitur imperdiet sapien. Quisque lobortis, sem in tincidunt ultricies, erat ante ultricies neque, at egestas turpis dolor eu ex. Proin sed mollis lacus, a finibus odio. Curabitur convallis dapibus mollis. Praesent commodo feugiat tortor eu accumsan. Sed imperdiet lorem sed semper ultrices. Aenean sit amet arcu a urna lobortis tincidunt. Suspendisse vel dapibus nisi. Fusce at ex fermentum, hendrerit nunc sit amet, posuere orci. Sed gravida dictum tincidunt. Maecenas eget tristique purus, eu mollis eros. Proin facilisis metus vel diam cursus, vitae euismod massa mollis. Mauris libero ligula, iaculis congue leo eleifend, consectetur efficitur leo. Suspendisse molestie tellus ac tellus imperdiet vestibulum. Vestibulum ornare ligula quis eros tristique, eu elementum enim consequat.
          .Information-info
            h2 For more information about this once in a lifetime opportunity, download (or request) our information pack now
          .HowItWorks
            .HowItWorks-info
              .u-row
                .u-column.u-column--lg4.u-column--md12
                  .HowItWorksInfo-item
                    .HowItWorksInfo-image
                      img(src="/img/howitworks-1.png", height="200", width="auto")
                    .HowItWorksInfo-title
                      p Own a no-hassle cash business
                .u-column.u-column--lg4.u-column--md12
                  .HowItWorksInfo-item
                    .HowItWorksInfo-image
                      img(src="/img/howitworks-2.png", height="200", width="auto")
                    .HowItWorksInfo-title
                      p Make up to $3000 per month with no work
                .u-column.u-column--lg4.u-column--md12
                  .HowItWorksInfo-item
                    .HowItWorksInfo-image
                      img(src="/img/howitworks-3.png", height="200", width="auto")
                    .HowItWorksInfo-title
                      p Join the global cryptocurrency economy
  .theme-page.InformationButton
    .theme-page-container
      .theme-page-content
        .theme-page-content--small
          a(href="#").u-btn.u-btn-x-large.theme-btn-primary Download FREE Information Pack for More Information
  #Contact.theme-page.Contact
    .theme-page-container
      .theme-page-content
        .theme-page-content-title
          p Contact
        .theme-page-content--small
          .u-row
            .u-column.u-column--hd7.u-column--md12
              form.u-form.theme-form
                .u-row
                  .u-column.u-column--hd6.u-column--md12
                    .theme-form-control
                      input(type="text" placeholder="First name")
                  .u-column.u-column--hd6.u-column--md12
                    .theme-form-control
                      input(type="text" placeholder="Last name")
                  .u-column.u-column--hd12
                    .theme-form-control
                      input(type="text" placeholder="Email")
                  .u-column.u-column--hd12
                    .theme-form-control
                      input(type="text" placeholder="Company")
                  .u-column.u-column--hd12
                    .theme-form-control
                      textarea(placeholder="Message")
                  .u-column.u-column--hd12
                    .theme-form-control
                      button.u-btn.u-btn-x-large.theme-btn-primary Send
            .u-column.u-column--hd5.u-column--md12
              .Information-info
                p orem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem leo, malesuada et odio ac, efficitur imperdiet sapien. Quisque lobortis, sem in tincidunt ultricies, erat ante ultricies neque, at egestas turpis dolor eu ex.