.Topbar
  .Topbar-content
    .TopbarContent-logo
      img(src="/img/logo.svg", height="40", width="auto")
    .TopbarContent-menu
      nav
        ul
          li
            a(href="#About") About
          li
            a(href="#HowItWorks") How
          li
            a(href="#Products") Products
          li
            a(href="#Network") Network
          li
            a(href="#Contact") Contact
