
<div class="Topbar">
  <div class="Topbar-content">
    <div class="TopbarContent-logo"><img src="/img/logo.svg" height="40" width="auto"/></div>
    <div class="TopbarContent-menu">
      <nav>
        <ul>
          <li><a href="#About">About</a></li>
          <li><a href="#HowItWorks">How</a></li>
          <li><a href="#Products">Products</a></li>
          <li><a href="#Network">Network</a></li>
          <li><a href="#Contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>