<main name="{{ .Site.Params.topAnchor }}">
  <nav class="single-header">
    <ul>
      <li>
        <a href="/">
          <img alt="Tigo CTM" class="site-logo" src="{{ .Site.Params.logo }}" >
        </a>
      </li>
      <li>
        <a href="/#Products">Products</a>
      </li>
      <li>
        <a href="/how">How It Works</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <header>
    <img alt="" class="site-logo" src="{{ .Site.Params.logo }}">
    <h3>{{ .Site.Params.tagline }}</h3>
  </header>
</main>
