<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="cryptocurrency,crypto,digitalcurrency,bitcoin,ethereum,dash,guld,xcm,tigoctm,ctm,machine,computer,atm,teller,manufacturer,security,privacy" />
  <title>{{ address }} - TigoCTM Crypto Machines</title>
  <link rel="icon" href="{{ url_for('static', filename='img/tigoctm.ico') }}" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}" />
  <script type="application/javascript" src="{{ url_for('static', filename='js/qrcode.min.js')}}"> </script>
</head>

<body>
  <div class="theme-page Header">
    <div class="Topbar">
      <div class="Topbar-content">
        <div class="TopbarContent-logo">
          <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.svg') }}" height="40" width="auto" /></a>
        </div>
        {% include 'price-bar.html' %}
      </div>
    </div>
  </div>

  <div class="theme-page Contact" style="margin-top: 60px;">
    <div class="theme-page-container">
      <div class="theme-page-content">
        <div class="theme-page-content--small">
          <div class="theme-page-content-title">
            <p>{{ address }}</p>
          </div>
          <div class="u-row">
            <div class="u-column u-column--hd4 u-column--md9">
            <div class="Information-info"></div></div>
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Information-info">
                <div id="qrcode"></div>
                <script type="text/javascript">
                new QRCode(document.getElementById("qrcode"), "{{ address }}");
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
