<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="cryptocurrency,crypto,digitalcurrency,bitcoin,ethereum,dash,guld,xcm,tigoctm,ctm,machine,computer,atm,teller,manufacturer,security,privacy"
  />
  <title>Wallet - TigoCTM Crypto Machines</title>
  <link rel="icon" href="{{ url_for('static', filename='img/tigoctm.ico') }}" type="image/x-icon" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />
</head>

<body id="identityPage">
  <nav class="navbar sticky-top navbar-expand navbar-light">
    <a class="navbar-brand red" href="{{ url_for('index') }}">
      <img id="isotipo" src="{{ url_for('static', filename='img/isotipo.svg') }}" class="img-responsive" alt="TigoCTM">
    </a>
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img id="logotipo" src="{{ url_for('static', filename='img/logotipo.svg') }}" class="img-responsive" alt="TigoCTM">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% include 'price-bar.html' %}
      </ul>
    </div>
  </nav>

  <header class="header text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="xcm_logo">
            <div class="back">{{ username }}</div>
            <div class="front">{{ username }}</div>
          </div>
          <div class="now">Welcome.</div>
        </div>
      </div>
    </div>
  </header>

  <section id="section-addresses" class="section-wrapper text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>If you are {{ username }}, you can purchase XCM at the rates shown in the top by sending to one of your "Input"
            addresses. Click for a QR code.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="Information-info">
            <h3 id="inputs">Inputs</h3>
            <table>
              {% if "BTC" not in depositAddresses %}
              <a href="{{ url_for('genaddress', commodity='BTC', username=username) }}">
                <button>Get Bitcoin Address</button>
              </a>
              {% endif %} {% if "DASH" not in depositAddresses %}
              <a href="{{ url_for('genaddress', commodity='DASH', username=username) }}">
                <button>Get Dash Address</button>
              </a>
              {% endif %} {% for commodity in depositAddresses %} {% for address in depositAddresses[commodity] %} {% if address != 'sub-total'
              %}
              <tr>
                <td>
                  <a href="{{ url_for('address', address=address) }}">{{ address }}</a>
                </td>
                <td>-{{ depositAddresses[commodity][address] }}</td>
                <td>{{ commodity }}</td>
              </tr>
              {% endif %} {% endfor %}
              <tr>
                <td>
                  <strong>{{ commodity }} sub-total</strong>
                </td>
                <td>
                  <strong>-{{ depositAddresses[commodity]['sub-total'] }}</strong>
                </td>
                <td>
                  <strong>{{ commodity }}</strong>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="Information-info">
            <h3 id="outputs">Outputs</h3>
            <table>
              {% for commodity in withdrawAddresses %} {% for address in withdrawAddresses[commodity] %} {% if address != 'sub-total' %}
              <tr>
                <td>{{ address }}</td>
                <td>{{ withdrawAddresses[commodity][address] }}</td>
                <td>{{ commodity }} {% if commodity == 'XCM' %}
                  <span style="color: red;">*</span>
                  {% endif %}
                </td>
              </tr>
              {% endif %} {% endfor %}
              <tr>
                <td>
                  <strong>{{ commodity }} sub-total</strong>
                </td>
                <td>
                  <strong>{{ withdrawAddresses[commodity]['sub-total'] }}</strong>
                </td>
                <td>
                  <strong>{{ commodity }}</strong>
                </td>
              </tr>
              {% endfor %}
            </table>
            <p style="color: red;">
              <strong>*No XCM Withdrawals will be released to Ethereum net before Jan. 1 2018. </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Contact</h4>
            <ul class="list-unstyled">
              <li>
                <a href="mailto:info@tigoctm.com?subject=Contact Form">Open mail client</a>
              </li>
            </ul>
            <h4>Buy XCM</h4>
            <ul class="list-unstyled">
              <li>
                <a href="{{ url_for('identify') }}">Go to cart</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Resources</h4>
            <address>
              <ul class="list-unstyled">
                <li>
                  TigoCTM Security Layers
                  <span>(coming soon)</span>
                </li>
                <li>TigoCTM whitepaper
                  <span>(coming soon)</span>

                </li>
                <li>
                  <a href="https://guld.io/guld-whitepaper.pdf" target="_blank">guld Consensus whitepaper</a>
                </li>
                <li>
                  <a href="https://guld.io/guldFS-Specification.pdf" target="_blank">guldFS Decentralized FileSystem</a>
                </li>
                <li>
                  <a href="https://guld.io/guldFS-Specification.pdf" target="_blank">guldOS Operating System</a>
                </li>
              </ul>
            </address>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <!--Column1-->
          <div class="footer-pad text-center">
            <ul class="list-unstyled">
              <li>
                <img src="{{ url_for('static', filename='img/isotipo.svg') }}" class="img-responsive isotipo" alt="TigoCTM">
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/logotipo.svg') }}" class="img-responsive logotipo" alt="TigoCTM">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>