<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="cryptocurrency,crypto,digitalcurrency,bitcoin,ethereum,dash,guld,xcm,tigoctm,ctm,machine,computer,atm,teller,manufacturer,security,privacy"
  />
  <title>TigoCTM Crypto Machines</title>
  <link rel="icon" href="{{ url_for('static', filename='img/tigoctm.ico') }}" type="image/x-icon" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <nav class="navbar sticky-top navbar-expand navbar-light">
    <a class="navbar-brand red" href="{{ url_for('index') }}">
      <img id="isotipo" src="{{ url_for('static', filename='img/isotipo.svg') }}" class="img-responsive" alt="TigoCTM">
    </a>
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img id="logotipo" src="{{ url_for('static', filename='img/logotipo.svg') }}" class="img-responsive" alt="TigoCTM">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% include 'price-bar.html' %}
      </ul>
    </div>
  </nav>

  <header class="header text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <a href="{{ url_for('identify') }}">
            <div id="xcm_logo">
              <div class="back">XCM</div>
              <div class="front">XCM</div>
            </div>
            <div class="now">Available now.</div>
          </a>
        </div>
        <div id="xcm_description" class="col-md-7 text-justify">
          <div>
            X Coin Machines (XCM) are gift certificate tokens for TigoCTM. Each XCM is redeemable for $10 worth of hardware from TigoCTM
            at up to 50% off the retail price. ICO proceeds will go to funding the production of the first line of TigoCTM's
            products.
          </div>
          <div>
            <ul>
              <li>Contract Address <a href="https://etherscan.io/address/0xb9f0b7e1d518f0e213441a804fed84c2858c5d88" target="_blank" style="color: grey">0xb9f0b7e1d518f0e213441a804fed84c2858c5d88</a></li>
              <li>Trade on <a href="https://forkdelta.github.io/#!/trade/0xb9f0b7e1d518f0e213441a804fed84c2858c5d88-ETH" target="_blank" style="color: grey">ForkDelta</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <a href="mailto:info@tigoctm.com?subject=Preorder Theano">
    <section id="section-products" class="section-wrapper">
      <div class="emaillink">
        <span>Open email</span>
        <img src="{{ url_for('static', filename='img/link.svg')}}" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img class="product" src="{{ url_for('static', filename='img/theanos.png')}}" />
          </div>
          <div class="col-md-7">
            <div id="preorder">
              <h1>Pre-order
                <b>Theano</b> now
                <p class="expected">Expected ship date October 1</p>
              </h1>
              <div>
                TigoCTM first generation Desktop Computer will come with GuldOS pre-installed, including full Bitcoin and Dash nodes. Files
                will be encrypted with PGP, using a built in Hardware Security Module (hsm).
              </div>
              <!--
            <form id="contactForm" class="subscribe-form form-inline" action="mailto:info@tigoctm.com?subject=Theanos Pre-order" method="POST"
              enctype="text/plain">
              <button type="submit" class="btn btn-lg mx-auto">Pre-order mail</button>
            </form>
          -->
              <div class="exclusive">
                Exclusively using XCM tokens.
              </div>
              <div class="raised">
                <div class="target">
                  <span>$1.000.000</span> raised</div>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100" style="width: 100%"></div>
                </div>
                <p class="expected"><span>200%</span> of $500.000 goal</p>
                <a href="{{ url_for('identify') }}" class="btn btn-secondary">Back it</a>
              </div>
            </div>
          </div>
        </div>
    </section>
  </a>

  <section id="section-next" class="section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-9 text-justify">
          <h2>Crowdfund Server
            <p class="expected">Expected ship date October 1</p>
          </h2>
          TigoCTM first generation Servers will come with GuldOS pre-installed, including full Bitcoin and Dash nodes. Files will be
          encrypted with PGP, using a built in Hardware Security Module (hsm). Each server will be able to serve as a node
          on the guld network (a special gitolite server), as well serving as commercial-grade bitcoin and dash node.
          <div class="exclusive">
            Exclusively using XCM tokens.
          </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
          <div class="calendar">
            <p class="title">Left</p>
            <div class="left">45</div>
            <span>days</span>
          </div>
          <div class="event-time">(Deadline April 1)</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-9 text-justify">
          <div class="raised">
            <div class="target">
              <span>18%</span> raised</div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="18" aria-valuemin="0"
                aria-valuemax="100" style="width: 18%"></div>
            </div>
            <div class="expected">of $5.500.000 goal</div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
          <a href="{{ url_for('identify') }}" class="btn">Back it</a>
        </div>
      </div>

    </div>
  </section>

  <section id="section-roadmap" class="section-wrapper text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Laptop</h5>
          <!-- Pre-order TigoCTM Laptops from the first generation exclusively using XCM tokens.
The TigoCTM Laptop Computer will come with GuldOS pre-installed, including full Bitcoin and Dash nodes. Files will be encrypted with PGP, using a built in Hardware Security Module (hsm). -->
          <div class="expected">Exp. ship date February 1, 2019</div>
          <a href="{{ url_for('identify') }}" class="btn">Back it</a>
        </div>
        <div class="col-md-3">
          <h5>Tablet</h5>
          <!-- Pre-order TigoCTM Laptops from the first generation exclusively using XCM tokens.
The TigoCTM Laptop Computer will come with GuldOS pre-installed, including full Bitcoin and Dash nodes. Files will be encrypted with PGP, using a built in Hardware Security Module (hsm). -->
          <div class="expected">Exp. ship date May 1, 2019</div>
          <a href="{{ url_for('identify') }}" class="btn">Back it</a>
        </div>
        <div class="col-md-3">
          <h5>Crypto Teller Machine</h5>
          <!-- Pre-order TigoCTM Crypto Teller Machines from the first generation exclusively using XCM tokens.
The TigoCTM Crypto Teller Machine will come with GuldOS light pre-installed, requiring a TigoCTM Server to pair with. Files will be encrypted with PGP, using a built in Hardware Security Module (hsm). Each CTM will be able to maintain it's own inventory and records, making requests for transactions to the paired TigoCTM Server. -->
          <div class="expected">Exp. ship date August 1, 2019</div>
          <a href="{{ url_for('identify') }}" class="btn">Back it</a>
        </div>
        <div class="col-md-3">
          <h5>Smartphone</h5>
          <!-- Pre-order TigoCTM Smart Phones from the first generation exclusively using XCM tokens.
The TigoCTM Smart Phone will come with GuldOS light pre-installed, requiring a TigoCTM Server or desktop to pair with for full functionality. Files will be encrypted with PGP, using a built in Hardware Security Module (hsm). Each phone will be able to maintain it's own inventory and records, making requests for transactions to the paired TigoCTM Server or Desktop, and will serve as a sandboxed AI. -->
          <div class="expected">Exp. ship date November 1, 2019</div>
          <a href="{{ url_for('identify') }}" class="btn">Back it</a>
        </div>
      </div>

    </div>
  </section>

  <section id="section-guld" class="section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-justify">
          <img src="{{ url_for('static', filename='img/6_guld_ gold_logo.png') }}" />
          <a href="https://guld.io/docs/guldOS-Specification.pdf" target="_blank">GuldOS</a> is a privacy focused variant of
          <a href="https://gentoo.org" target="_blank">Gentoo Linux</a>. GuldOS uses openPGP paired with a TigoCTM hardware security module to encrypt your disk, folders,
          emails, passwords, blockchain wallets, and more.</p>

          <p>The decentralized
            <a href="https://guld.io/docs/guldFS-Specification.pdf" target="_blank">guld filesystem</a> allows you to securely share data between your different TigoCTM devices. You can use this
            as your secure, private cloud, or to interact with other members of the guld network.</p>

          <div>Each TigoCTM device will ship with some guld tokens so it can register on the global, decentralized guld network.
            Through the guld network, any file or directory can be shared and trustlessly governed by a user defined consensus
            group. (see the
            <a href="https://guld.io/docs/guld-whitepaper.pdf" target="_blank">guld consensus whitepaper</a>)
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section-team" class="section-wrapper section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title  text-center">
            <h1>Team</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-3 text-center">
          <img class="member" src="{{ url_for('static', filename='img/team/cindyz.jpg') }}" class="img-responsive" alt="Image">
        </div>
        <div class="col-sm-6 col-md-9">
          <h3>Cindy Zimmerman
            <small class="title">CEO & Co-founder</small>
          </h3>
          <p>
            Cindy has a masters degree in Digital Forensics &amp; Cybersecurity. In 2012, she was the second employee at Bitcoin exchange
            <a href="https://coinapult.com" target="_blank">Coinapult</a>, and managed the technical team there until leaving to found TigoCTM in 2014.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-9">
          <h3>Judith Katzman
            <small class="title">COO & Co-founder</small>
          </h3>
          <p>
            Judith has been involved in the Bitcoin world since 2012. She has worked at various bitcoin exchanges and bitcoin enterprises.
            In addition, she has over 20 years of IT experience. Judith has an MA in Computer Science from CUNY Queens.
          </p>
        </div>
        <div class="col-sm-6 col-md-3 text-center">
          <img class="member" src="{{ url_for('static', filename='img/team/judithk.jpeg') }}" class="img-responsive" alt="Image">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-3 text-center">
          <img class="member" src="{{ url_for('static', filename='img/team/mike.jpg') }}" class="img-responsive" alt="Image">
        </div>
        <div class="col-sm-6 col-md-9">
          <h3>Mike Zabary
            <small class="title">Chief Hardware Engineer</small>
          </h3>
          <p>
            Michael has over 20 years experience in both hardware and software. He has built hundreds of desktop computers with specialized
            components to accommodate special application requirements. In addition he is CompTIA, A+ and Microsoft (MCP)
            certified. Michael also passes his time as a Python developer.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-9">
          <h3>Ira Miller
            <small class="title">Technical Advisor</small>
          </h3>
          <p>
            Ira Miller is the Founder of <a href="https://guld.io" target="_blank">Guld</a>. Advisor to <a href="https://tigoctm.com" target="_blank">TigoCTM</a>, Dash, Bitt and more fantastic projects. Ira has founded many technology startups, lately focused on the blockchain sector. In 2012, Ira co-founded global payment processor <a href="https://coinapult.com" target="_blank">Coinapult</a>, selling the company in 2015 to pursue open source collaborative projects through the Guld network.
          </p>
        </div>
        <div class="col-sm-6 col-md-3 text-center">
          <img class="member" src="{{ url_for('static', filename='img/team/isysd.png') }}" class="img-responsive" alt="Image">
        </div>
      </div>

    </div>
    <!-- /.container -->
  </section>
  <!-- .team -->

  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Contact</h4>
            <ul class="list-unstyled">
              <li>
                <a href="mailto:info@tigoctm.com?subject=Contact Form">Open mail client</a>
              </li>
            </ul>
            <h4>Buy XCM</h4>
            <ul class="list-unstyled">
              <li>
                <a href="{{ url_for('identify') }}">Go to cart</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Resources</h4>
            <address>
              <ul class="list-unstyled">
                <li>
                  <a href="{{ url_for('static', filename='docs/TigoCTM-Whitepaper.pdf') }}" target="_blank">TigoCTM Whitepaper</a>
                </li>
                <li>
                  <a href="https://guld.io/docs/guld-whitepaper.pdf" target="_blank">guld Consensus whitepaper</a>
                </li>
                <li>
                  <a href="https://guld.io/docs/guldFS-Specification.pdf" target="_blank">guldFS Decentralized FileSystem</a>
                </li>
                <li>
                  <a href="https://guld.io/docs/guldFS-Specification.pdf" target="_blank">guldOS Operating System</a>
                </li>
              </ul>
            </address>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <!--Column1-->
          <div class="footer-pad text-center">
            <ul class="list-unstyled">
              <li>
                <img src="{{ url_for('static', filename='img/isotipo.svg') }}" class="img-responsive isotipo" alt="TigoCTM">
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/logotipo.svg') }}" class="img-responsive logotipo" alt="TigoCTM">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
