<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="icon" href="/img/tigoctm.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body></body>
  <div class="theme-page Header">{{ partial "menu.html" . }}
    <div class="theme-page-container">
      <div class="theme-page-content theme-page-content--header">
        <div class="theme-page-content--section">
          <div class="Header-logo"><img src="/img/logo.svg" height="200" width="auto"></div>
        </div>
        <div class="theme-page-content--section">
          <div class="Header-subtitle">
            <div class="theme-page-content--x-small">
              {{ range where .Data.Pages ".Title" "Header" }}
                {{ .Content }}
              {{ end }}
	{{ if eq .Site.Language.Lang "en" }}
            {{ range where .Data.Pages ".Title" "Get More Information Now" }}
        <a href="#contact" class="u-btn u-btn-x-large theme-btn-primary">{{ .Title }}</a>
	    {{ end }}
	{{ else if eq .Site.Language.Lang "es" }}
	    {{ range where .Data.Pages ".Title" "Obtener más información ahora" }}
        <a href="#contact" class="u-btn u-btn-x-large theme-btn-primary">{{ .Title }}</a>
	    {{ end }}
	{{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="theme-page Information">
    <div class="theme-page-container">
      <div class="theme-page-content">
        <div class="theme-page-content--small">
          {{ range where .Data.Pages ".Title" "Information A" }}
              {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div id="about" class="theme-page Information Information--light">
    <div class="theme-page-container">
      <div class="theme-page-content theme-page-space">
	{{ if eq .Site.Language.Lang "en" }}
	    {{ range where .Data.Pages ".Title" "The Business Opportunity" }}
             <div class="theme-page-content-title">
              <p>{{ .Title }}</p>
             </div>
             <div class="theme-page-content--small">
              <div class="u-row">
		<div class="u-column u-column--hd6 u-column--md12">
                  <div class="Information-info">
		    {{ .Content }}
                  </div>
		</div>
		{{ end }}
	{{ else if eq .Site.Language.Lang "es" }}
		{{ range where .Data.Pages ".Title" "La Oportunidad de Negocio" }}
            <div class="theme-page-content-title">
              <p>{{ .Title }}</p>
            </div>
            <div class="theme-page-content--small">
              <div class="u-row">
		<div class="u-column u-column--hd6 u-column--md12">
                  <div class="Information-info">
		    {{ .Content }}
                  </div>
		</div>
		{{ end }}
	{{ end }}
            {{ range where .Data.Pages ".Title" "The Business Opportunity B" }}
              <div class="u-column u-column--hd6 u-column--md12">
                <div class="Information-info">
                {{ .Content }}
                </div>
              </div>
              {{ end }}
            </div>
          </div>  
      </div>
    </div>
  </div>
  <div id="howitworks" class="theme-page theme-page-space">
    <div class="theme-page-container Path">
      <div class="theme-page-content">
        <div class="theme-page-content--small">
          <div class="u-row">
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Path-item Path-item--1"><img src="/img/howitworks-path-1.png" width="auto" height="239">
		{{ if eq .Site.Language.Lang "en" }}
		    {{ range where .Data.Pages ".Title" "Buy a TigoCTM Machine" }}
                        <h2 class="title">{{ .Title }}</h2>
		    {{ end }}
		{{ else if eq .Site.Language.Lang "es" }}
			{{ range where .Data.Pages ".Title" "Compra una Maquina TigoCTM" }}
			    <h2 class="title">{{ .Title }}</h2>
		        {{ end }}
		{{ end }}
	    </div>
            </div>
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Path-item Path-item--2"><img src="/img/howitworks-path-2.png" width="auto" height="138">
		{{ if eq .Site.Language.Lang "en" }}
		    {{ range where .Data.Pages ".Title" "path 2" }}
                        <h3 class="title">{{ .Content }}</h3>
		    {{ end }}
		{{ else if eq .Site.Language.Lang "es" }}
			{{ range where .Data.Pages ".Title" "path 2" }}
			    <h3 class="title">{{ .Content }}</h3>
		        {{ end }}
		{{ end }}
              </div>
            </div>
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Path-item Path-item--3"><img src="/img/howitworks-path-3.png" width="auto" height="211">
		{{ if eq .Site.Language.Lang "en" }}
		    {{ range where .Data.Pages ".Title" "path 3" }}
                        <h2 class="title">{{ .Content }}</h2>
		    {{ end }}
		{{ else if eq .Site.Language.Lang "es" }}
			{{ range where .Data.Pages ".Title" "path 3" }}
			    <h2 class="title">{{ .Content }}</h2>
		        {{ end }}
		{{ end }}
              </div>
            </div>
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Path-item Path-item--4"><img src="/img/howitworks-path-4.png" width="auto" height="208">
		{{ if eq .Site.Language.Lang "en" }}
		    {{ range where .Data.Pages ".Title" "path 4" }}
                        <h2 class="title">{{ .Content }}</h2>
		    {{ end }}
		{{ else if eq .Site.Language.Lang "es" }}
			{{ range where .Data.Pages ".Title" "path 4" }}
			    <h2 class="title">{{ .Content }}</h2>
		        {{ end }}
		{{ end }}
              </div>
            </div>
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Path-item Path-item--5"><img src="/img/howitworks-path-5.png" width="auto" height="174">
		{{ if eq .Site.Language.Lang "en" }}
		    {{ range where .Data.Pages ".Title" "path 5" }}
                        <h2 class="title">{{ .Content }}</h2>
		    {{ end }}
		{{ else if eq .Site.Language.Lang "es" }}
			{{ range where .Data.Pages ".Title" "path 5" }}
			    <h2 class="title">{{ .Content }}</h2>
		        {{ end }}
		{{ end }}
              </div>
            </div>
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Path-item Path-item--6"><img src="/img/howitworks-path-6.png" width="auto" height="185">
		{{ if eq .Site.Language.Lang "en" }}
		    {{ range where .Data.Pages ".Title" "path 6" }}
                        <h2 class="title">{{ .Content }}</h2>
		    {{ end }}
		{{ else if eq .Site.Language.Lang "es" }}
			{{ range where .Data.Pages ".Title" "path 6" }}
			    <h2 class="title">{{ .Content }}</h2>
		        {{ end }}
		{{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="theme-page InformationButton">
    <div class="theme-page-container">
      <div class="theme-page-content">
	{{ if eq .Site.Language.Lang "en" }}
            {{ range where .Data.Pages ".Title" "Fill out the form below for More Information" }}
        <div class="theme-page-content--small"><a href="#contact" class="u-btn u-btn-x-large theme-btn-primary">{{ .Title }}</a></div>
	    {{ end }}
	{{ else if eq .Site.Language.Lang "es" }}
	    {{ range where .Data.Pages ".Title" "Rellene el siguiente formulario para obtener más información" }}
        <div class="theme-page-content--small"><a href="#contact" class="u-btn u-btn-x-large theme-btn-primary">{{ .Title }}</a></div>
	    {{ end }}
	{{ end }}
      </div>
    </div>
  </div>
  <div class="theme-page Information Information--light">
    <div class="theme-page-container">
      <div class="theme-page-content">
	{{ if eq .Site.Language.Lang "en" }}
              {{ range where .Data.Pages ".Title" "Existing and Growing Demand" }}
              <div class="theme-page-content-title">
               <p>{{ .Title }}</p>
              </div>
              <div class="theme-page-content--small">
		<div class="u-row">
		  <div class="u-column u-column--hd6 u-column--md12">
                    <div class="Information-info">
                    {{ .Content }}
                  </div>
                </div>
                {{ end }}
	{{ else if eq .Site.Language.Lang "es" }}
		{{ range where .Data.Pages ".Title" "Demanda Existente y la Creciente" }}
            <div class="theme-page-content-title">
              <p>{{ .Title }}</p>
              </div>
              <div class="theme-page-content--small">
               <div class="u-row">
                <div class="u-column u-column--hd6 u-column--md12">
                  <div class="Information-info">
                    {{ .Content }}
                  </div>
                </div>
                {{ end }}
               {{ end }}
              <div class ="u-column u-column--hd6 u-column--md12">
                <div class="Information-info">
                    {{ range where .Data.Pages ".Title" "Information B2" }}
                      {{ .Content }}
		    {{ end }}
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  <div id="products" class="theme-page Products">
  <!-- Partials for modal windows -->
  {{ partial "douro-modal.html" . }}
  {{ partial "santo-modal.html" . }}
  {{ partial "braga-modal.html" . }}
    <div class="theme-page-container">
      <div class="theme-page-content">
	{{ if eq .Site.Language.Lang "en" }}
            {{ range where .Data.Pages ".Title" "Your New Machine" }}
              <div class="theme-page-content-title">
              <p><strong>{{ .Title }}</strong></p>
            </div>
            {{ end }}
	 {{ else if eq .Site.Language.Lang "es" }}
	    {{ range where .Data.Pages ".Title" "Su Máquina Nueva" }}
	      <div class="theme-page-content-title">
		<p><strong>{{ .Title }}</strong></p>
              </div>
            {{ end }}
	 {{ end }}
        <span id="start" class="target"><!-- Hidden anchor to close all modals --></span>
          <div class="theme-page-content--small">
            <div class="u-row">
              <!-- Douro column -->
              <div class="u-column u-column--hd6 u-column--md12">
              	<div class="theme-page-content-title">
              		<p>Douro</p>
              	</div>
                <div class="Products-item">
                  <div class="theme-panel">
                    <div class="Slides-slide">
                      <div class="Slide-image"><img src="/img/douro.png" height="270" width="auto"></div>
                    </div>
                  </div>
                  <!-- Modal Button - Douro -->
		  {{ if eq .Site.Language.Lang "en" }}
		     {{ range where .Data.Pages ".Title" "More Info" }}
		  <a href="#douro" class="u-btn theme-btn-primary">{{ .Title }}</a>
                     {{ end }}
		  {{ else if eq .Site.Language.Lang "es" }}
		     {{ range where .Data.Pages ".Title" "Más Info" }}
		  <a href="#douro" class="u-btn theme-btn-primary">{{ .Title }}</a>
                     {{ end }}
                  {{ end }}
                </div>
              </div>
              <!-- Santo Tirso column -->
              <div class="u-column u-column--hd6 u-column--md12">
              <div class="theme-page-content-title">
              		<p>Santo Tirso</p>
              </div>
                <div class="Products-item">
                  <div class="theme-panel">
                    <div class="Slides-slide">
                      <div class="Slide-image"><img src="/img/santo-tirso.png" height="270" width="auto"></div>
                    </div>
                  </div>
                  <!-- Modal Button - Santo Tirso -->
		  {{ if eq .Site.Language.Lang "en" }}
		     {{ range where .Data.Pages ".Title" "More Info" }}
		  <a href="#santo" class="u-btn theme-btn-primary">{{ .Title }}</a>
                     {{ end }}
		  {{ else if eq .Site.Language.Lang "es" }}
		     {{ range where .Data.Pages ".Title" "Más Info" }}
		  <a href="#santo" class="u-btn theme-btn-primary">{{ .Title }}</a>
                     {{ end }}
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div id="benefits" class="theme-page Benefits">
    <div class="Benefits-bg"></div>
    <div class="Benefits-container">
      <div class="theme-page-container">
        <div class="theme-page-content theme-page-space">
	{{ if eq .Site.Language.Lang "en" }}
          {{ range where .Data.Pages ".Title" "Benefits" }}
            <div class="theme-page-content-title theme-page-content-title--dark">
              <p>{{ .Title }}</p>
            </div>
            <div class="Benefits-content">
              <div class="theme-page-content--small">
                {{ .Content }}
              </div>
            </div>
          {{ end }}
	 {{ else if eq .Site.Language.Lang "es" }}
          {{ range where .Data.Pages ".Title" "Beneficios" }}
            <div class="theme-page-content-title theme-page-content-title--dark">
              <p>{{ .Title }}</p>
            </div>
            <div class="Benefits-content">
              <div class="theme-page-content--small">
                {{ .Content }}
              </div>
            </div>
          {{ end }}
         {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="theme-page Information">
    <div class="theme-page-container">
      <div class="theme-page-content">
        <div class="theme-page-content--small">
          <div class="Information-info">
            {{ range where .Data.Pages ".Title" "Information C" }}
              {{ .Content }}
            {{ end }}
          </div>
	{{ if eq .Site.Language.Lang "en" }}
            {{ range where .Data.Pages ".Title" "Fill out the form below for More Information" }}
        <div class="theme-page-content--small"><a href="#contact" class="u-btn u-btn-x-large theme-btn-primary">{{ .Title }}</a></div>
	    {{ end }}
	{{ else if eq .Site.Language.Lang "es" }}
	    {{ range where .Data.Pages ".Title" "Rellene el siguiente formulario para obtener más información" }}
        <div class="theme-page-content--small"><a href="#contact" class="u-btn u-btn-x-large theme-btn-primary">{{ .Title }}</a></div>
	    {{ end }}
	{{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="theme-page Information Information--light">
    <div class="theme-page-container">
      <div class="theme-page-content">
        <div class="theme-page-content--small">
          {{ range where .Data.Pages ".Title" "How It Works" }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="theme-page InformationButton">
    <div class="theme-page-container">
      <div class="theme-page-content">
	{{ if eq .Site.Language.Lang "en" }}
            {{ range where .Data.Pages ".Title" "Fill out the form below for More Information" }}
        <div class="theme-page-content--small"><a href="#contact" class="u-btn u-btn-x-large theme-btn-primary">{{ .Title }}</a></div>
	    {{ end }}
	{{ else if eq .Site.Language.Lang "es" }}
	    {{ range where .Data.Pages ".Title" "Rellene el siguiente formulario para obtener más información" }}
        <div class="theme-page-content--small"><a href="#contact" class="u-btn u-btn-x-large theme-btn-primary">{{ .Title }}</a></div>
	    {{ end }}
	{{ end }}
      </div>
    </div>
  </div>
  <div id="contact" class="theme-page Contact">
    <div class="theme-page-container">
      <div class="theme-page-content">
	{{ if eq .Site.Language.Lang "en" }}
            {{ range where .Data.Pages ".Title" "Contact" }}
            <div class="theme-page-content-title">
              <p>{{ .Title }}</p>
            </div>
            <div class="theme-page-content--x-small">
            {{ .Content }}
            </div>
            {{ end }}
	 {{ else if eq .Site.Language.Lang "es" }}
            {{ range where .Data.Pages ".Title" "Contacto" }}
            <div class="theme-page-content-title">
              <p>{{ .Title }}</p>
            </div>
            <div class="theme-page-content--x-small">
            {{ .Content }}
            </div>
            {{ end }}
         {{ end }}
      </div>
    </div>
  </div>
</html>
