<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body></body>
  <div class="theme-page Header">{{ partial "menu.html" . }}
    <div class="theme-page-container">
      <div class="theme-page-content theme-page-content--header">
        <div class="theme-page-content--section">
          <div class="Header-logo"><img src="/img/logo.svg" height="200" width="auto"></div>
        </div>
        <div class="theme-page-content--section">
          <div class="Header-subtitle">
            <div class="theme-page-content--x-small">
              {{ range where .Data.Pages ".Title" "Header" }}
                {{ .Content }}
              {{ end }}
              <a href="#" class="u-btn u-btn-large theme-btn-primary">Get More Information Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="theme-page Information">
    <div class="theme-page-container">
      <div class="theme-page-content">
        <div class="theme-page-content--small">
          {{ range where .Data.Pages ".Title" "Information A" }}
              {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="theme-page Information Information--light">
    <div class="theme-page-container">
      <div class="theme-page-content">
        {{ range where .Data.Pages ".Title" "The Business Opportunity" }}
          <div class="theme-page-content-title">
            <p>{{ .Title }}</p>
          </div>
          <div class="theme-page-content--small">
            <div class="u-row">
              <div class="u-column u-column--hd6 u-column--md12">
                <div class="Information-info">
              {{ .Content }}
                </div>
              </div>
              {{ end }}
            {{ range where .Data.Pages ".Title" "The Business Opportunity B" }}
              <div class="u-column u-column--hd6 u-column--md12">
                <div class="Information-info">
                {{ .Content }}
                </div>
              </div>
              {{ end }}
            </div>
          </div>  
      </div>
    </div>
  </div>
  <div id="Path" class="theme-page Path">
    <div class="theme-page-container">
      <div class="theme-page-content">
        <div class="theme-page-content--small">
          <div class="u-row">
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Path-item Path-item--1"><img src="/img/howitworks-path-1.png" width="auto" height="239">
                <h2 class="title">Buy a Tigo CTM Machine</h2>
              </div>
            </div>
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Path-item Path-item--2"><img src="/img/howitworks-path-2.png" width="auto" height="138">
                <h2 class="title">Tigo CTM walks you through a simplified account setup at banking, exchange, and wallet partners.</h2>
              </div>
            </div>
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Path-item Path-item--3"><img src="/img/howitworks-path-3.png" width="auto" height="211">
                <h2 class="title">Tigo CTM helps you pick a location and install your CTM.*</h2>
              </div>
            </div>
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Path-item Path-item--4"><img src="/img/howitworks-path-4.png" width="auto" height="208">
                <h2 class="title">Tigo CTM create and hosts the backend server(s) your machine requires.</h2>
              </div>
            </div>
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Path-item Path-item--5"><img src="/img/howitworks-path-5.png" width="auto" height="174">
                <h2 class="title">Tigo CTM helps market your machine, so lots of customers find and use it.</h2>
              </div>
            </div>
            <div class="u-column u-column--hd6 u-column--md12">
              <div class="Path-item Path-item--6"><img src="/img/howitworks-path-6.png" width="auto" height="185">
                <h2 class="title">You visit the machine regulary, managing the cash.</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="theme-page InformationButton">
    <div class="theme-page-container">
      <div class="theme-page-content">
        <div class="theme-page-content--small"><a href="#" class="u-btn u-btn-x-large theme-btn-primary">Download FREE Information Pack for More Information</a></div>
      </div>
    </div>
  </div>
  <div class="theme-page Information Information--light">
    <div class="theme-page-container">
      <div class="theme-page-content">
        <div class="theme-page-content-title">
            <p>Existing and Growing Demand</p>
        </div>
        <div class="theme-page-content--small">
          <div class="u-row">
             <div class="u-column u-column--hd6 u-column--md12">
                <div class="Information-info">
                  {{ range where .Data.Pages ".Title" "Information B" }}
                    {{ .Content }}
                  {{ end }}
                </div>
              </div>
              <div class ="u-column u-column--hd6 u-column--md12">
                <div class="Information-info">
                    {{ range where .Data.Pages ".Title" "Information B2" }}
                      {{ .Content }}
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  <div class="theme-page Products">
    <div class="theme-page-container">
      <div class="theme-page-content">
        {{ range where .Data.Pages ".Title" "Your New Machine" }}
          <div class="theme-page-content-title">
            <p><strong>{{ .Title }}</strong></p>
          </div>
        {{ end }}
          <div class="theme-page-content--small">
            <div class="u-row">
              <!-- Douro column -->
              <div class="u-column u-column--hd4 u-column--md12">
              	<div class="theme-page-content-title">
              		<p>Douro</p>
              	</div>
                <div class="Products-item">
                  <div class="theme-panel">
                    <div class="Slides-slide">
                      <div class="Slide-image"><img src="/img/douro.png" height="270" width="auto"></div>
                    </div>
                  </div>
                  <!-- Modal Button - Douro -->
                  <a href="#" class="u-btn theme-btn-primary">More Info</a>
                </div>
              </div>
              <!-- Santo Tirso column -->
              <div class="u-column u-column--hd4 u-column--md12">
              <div class="theme-page-content-title">
              		<p>Santo Tirso</p>
              </div>
                <div class="Products-item">
                  <div class="theme-panel">
                    <div class="Slides-slide">
                      <div class="Slide-image"><img src="/img/santo-tirso.png" height="270" width="auto"></div>
                    </div>
                  </div>
                  <!-- Modal Button - Santo Tirso -->
                  <a href="#" class="u-btn theme-btn-primary">More Info</a>
                </div>
              </div>
              <!-- Braga column -->
              <div class="u-column u-column--hd4 u-column--md12">
              <div class="theme-page-content-title">
              		<p>Braga</p>
              </div>
                <div class="Products-item">
                  <div class="theme-panel">
                    <div class="Slides-slide">
                      <div class="Slide-image"><img src="/img/braga.png" height="270" width="auto"></div>
                    </div>
                  </div>
                  <!-- Modal Button - Braga -->
                  <a href="#" class="u-btn theme-btn-primary">More Info</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div id="Benefits" class="theme-page Benefits">
    <div class="Benefits-bg"></div>
    <div class="Benefits-container">
      <div class="theme-page-container">
        <div class="theme-page-content">
          {{ range where .Data.Pages ".Title" "Benefits" }}
            <div class="theme-page-content-title theme-page-content-title--dark">
              <p>{{ .Title }}</p>
            </div>
            <div class="Benefits-content">
              <div class="theme-page-content--small">
                <div class="u-row">
                  {{ .Content }}
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="theme-page Information">
    <div class="theme-page-container">
      <div class="theme-page-content">
        <div class="theme-page-content--small">
          <div class="Information-info">
            {{ range where .Data.Pages ".Title" "Information C" }}
              {{ .Content }}
            {{ end }}
          </div>
          <a href="#" class="u-btn u-btn-x-large theme-btn-primary">Download FREE Information Pack for More Information</a>
        </div>
      </div>
    </div>
  </div>
  <div class="theme-page Information Information--light">
    <div class="theme-page-container">
      <div class="theme-page-content">
        <div class="theme-page-content--small">
          {{ range where .Data.Pages ".Title" "Information D" }}
            {{ .Content }}
          {{ end }}
          {{ range where .Data.Pages ".Title" "How It Works" }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="theme-page InformationButton">
    <div class="theme-page-container">
      <div class="theme-page-content">
        <div class="theme-page-content--small"><a href="#" class="u-btn u-btn-x-large theme-btn-primary">Download FREE Information Pack for More Information</a></div>
      </div>
    </div>
  </div>
  <div id="Contact" class="theme-page Contact">
    <div class="theme-page-container">
      <div class="theme-page-content">
        {{ range where .Data.Pages ".Title" "Contact" }}
          <div class="theme-page-content-title">
            <p>{{ .Title }}</p>
          </div>
          <div class="theme-page-content--small">
            {{ .Content }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</html>